* {
    margin: 0;
    padding: 0;
}

div#grid {
    display: block;
}

div#grid div.gridRow {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0px;
}

div#grid div.cellCommon {
    width: 20px;
    height: 20px;
    border: 1px solid black;
}

div#grid div.deadCell {
    background-color: #FFFFFF;
}

div#grid div.aliveCell {
    background-color: #0000FF;
}

